events {}

http {
    # Docker internal DNS resolver
    resolver 127.0.0.11 valid=10s;

    log_format swiftlog '$time_iso8601 | $status | ${request_time}s | $upstream_addr | $request';
    access_log /var/log/nginx/access.log swiftlog;

    server {
        listen 80;

        add_header X-Deployed-By swiftdeploy always;

        location / {
            proxy_pass http://api:{{ service_port }};

            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

            proxy_connect_timeout {{ proxy_timeout }};
            proxy_read_timeout {{ proxy_timeout }};
            proxy_send_timeout {{ proxy_timeout }};

            proxy_intercept_errors on;
            error_page 502 503 504 /custom_error.json;
        }

        location = /custom_error.json {
            internal;
            default_type application/json;
            return 502 '{"error":"upstream unavailable","code":"502","service":"swiftdeploy-api","contact":"devops-team"}';
        }
    }
}